$accent-color : #ffcf02;
$accent-color-light : #ffdc0c;

$accent-gradient : linear-gradient(65deg, $accent-color 0, $accent-color-light 100%);
$transition-all-02-l: all 0.2s linear;
$transitin-all-02-eio: all 0.2s ease-in-out;

//$orangeColor : #ffb200;
$turquoise : #57ff82;
$t-dark-blue : #181b27;
$darkBlue : #091c55;
//$darkBlue : #000531;
$darkBlue2 : #0b2369;
//$darkBlue2 : #001097;
$black : #000;
$white : #fff;
$b-gray : #818999;
$dark-b-gray : #181b27;
